.app-container {
    background-color: #010101;
    min-height: 2000px;
    /* todo: calculate min height to be an extra screen */
}

.hamburger-container {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #010101;
    z-index: 99;
    height: 10vh;
    display: flex;
    justify-content: right;
}

.hamburger-span {
    font-size: 50px;
    color: #c6d6f0;
    display: block;
    width: 50px;
    margin-right: 20px;
}