.card-container{
  width: 100%;
  margin: auto;
  background-color: #1e1e1e;
  border: 1px solid #464646;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  padding: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  /* border: 2px solid red; */
}

.note-list-container {
  box-sizing: border-box;

  width: 100%;
  background-color: #1e1e1e;
  border: 1px solid #464646;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.category-card-container {
  margin-top: 20px;
  border-bottom: 1px solid #464646;
}

.add-note-container {
  color: #c6d6f0;
  font-weight: bold;
  font-size: 30px;
  background-color: #1b1716;

  margin-bottom: 15px;
  margin-top: 0px;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.category-contents-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-contents-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.category-icon-container {
  display: flex;
  align-items: center;
}

.category-main-text {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 8px;
  color: #c6d6f0;
}


.note-paragraph {
  font-size: 15px;
  margin: 29px 5px 5px 15px;
  color: #b4b4b4;
}

.category-plus-symbol {
  color: #c6d6f0;
  font-size: 26px;
  margin-right: 20px;
}

.note-three-vertical-dots-icon {
  color: #b4b4b4;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 13px;
}

.category-down-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c6d6f0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  /* margin-top: 15px; */
}

.category-up-arrow {
  margin-right: 15px;
  /* margin-top: 15px; */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c6d6f0;;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* .note-card-container {
  margin: auto;
  padding: 10px;
} */

/* .note-card-container_collapsed {
  margin-top: 2px;
  overflow-y: hidden;
  
  height: 50px;

} */

/* .note-card-container_fade_out {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);

} */

/* .main-note-text-container {
  width: 200px;
  border: 2px solid green;
  padding: 10px;
  margin: 10px;
} */


/* .icon-container {
  width: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
} */

/* .note-main-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #666666;
} */

/* .additional-notes {
  font-size: 15px;
  margin-left: 10px;
  color: #666666;

} */

/* .tags {
  font-size: 14px;
  color: #666666;
  margin-left: 10px;


} */

/* .note-down-arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  display: inline-block;
  vertical-align: middle;
}

.note-up-arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid black;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
} */

/* .trash-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.edit-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
} */

/* .slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
} */



