.modal-container {
    position: fixed;
    /* border: 2px solid red; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(148, 139, 139, 0.2);
    /* width: 100px; */
    /* height: 100px; */
    z-index: 100;
}

.modal-content {
    background-color: black;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .modal-message {
    margin-bottom: 16px;
  }
  
  .modal-options {
    display: flex;
    justify-content: center;
  }
  
  .modal-option {
    margin: 0 8px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  /* CSS for styling the add category modal */
.add-category-modal-container {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(148, 139, 139, 0.5);
    z-index: 100;
}

.add-category-modal-content {
  /* Set the maximum width of the form and add some spacing between elements */
  max-width: 400px;
  margin: auto;
  background-color: #f8f8f8;
  padding: 40px;

}

.add-category-modal-message {
  /* Add some spacing for the form message and set font properties */
  margin-bottom: 20px;
  font-size: 18px;
}

.additional-info-message {
  font-size: 12px;
  font-style: italic;
}

.add-category-modal-options {
  /* Set flexbox properties to align buttons horizontally */
  display: flex;
  justify-content: center;
}

.add-category-modal-option {
  /* Set button styles, such as background color, padding, margin, and font properties */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-category-modal-option:hover {
  /* Add hover effect for buttons, such as changing background color */
  background-color: #0069d9;
}

